<form>
    <div class="row">
        <div class="col">
            <input name="firstname" [(ngModel)]="newStudent.firstname" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input name="lastname" [(ngModel)]="newStudent.lastname" type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="line"></div>
    <div class="row">
        <div class="col">
            <select name="classe" [(ngModel)]="newStudent.classe" class="form-control" id="exampleFormControlSelect1">
                <option>Choose Classes</option>
                <option *ngFor="let class of classes" [ngValue]="class.libelle">{{ class.libelle }}</option>
            </select>
        </div>
        <div class="col">
            <select name="status" [(ngModel)]="newStudent.status" class="form-control" id="exampleFormControlSelect1">
                <option>Status</option>
                <option>Suspended</option>
                <option>Enrolled</option>
              </select>
        </div>
    </div>
    <div class="line"></div>
    <button type="button" (click)="addNewStudent()" class="btn btn-success">Register</button>
</form>
