<div>
    <button routerLink="/add-class" type="button" class="btn btn-primary">Add new class</button>
    <div class="line"></div>
    <table class="table table-bordered table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Class Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>

                <!-- <th scope="col">List of Students</th> -->
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classe of listClasses">
                <td>{{classe.libelle}}</td>
                <td>{{classe.description}}</td>
                <td>{{classe.status}}</td>
                <td>
                    <button routerLink="/classes/{{classe._id}}" class="btn btn-success float-left">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button (click)="deleteClasse(classe._id)" class="btn btn-danger float-right">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
